<domain type='kvm'>
  <name>{{ vm_name }}</name>

  <memory unit='MiB'>{{ vm_ram_mb }}</memory>
  <vcpu>{{ vm_vcpus }}</vcpu>

  <os>
    <type arch='x86_64'>hvm</type>
    <boot dev='hd'/>
  </os>

  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ vm_disk_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    <interface type='network'>
      <source network='default'/>
      <model type='virtio'/>
    </interface>

    <graphics type='vnc' port='-1'/>
  </devices>
</domain>
